*{
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
}
header{
  position: sticky;
  top: 0%;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333333;
  width: 100%;
  padding: 1rem;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hul{
  margin: 0%;
  padding: 0%;
  overflow: hidden;
  list-style-type: none;
}
li.menu{
  float: right;
  padding-right: 15px;
}
div.menuu{
  padding: 0px 40px 0px;
}
li a{
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
li a:hover{
  color: aquamarine;
  background-color:darkgray;
  border-radius: 3px;
}
.HOME{
  float: left;
  color: azure;
  padding-left: 15px;
}
.card{
    display: flex;
    margin-top: 5rem;
    justify-self: center;
    text-align: center;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 1.5rem;
    width: 800px;
    height: 500px;
    box-shadow: 0 0 15px rgb(40, 40, 40);
    font-size: 20px;
}
.card h1{
    padding-top: 20px;
}
.card img{
    width: 400px;
    height: 230px;
}
.main{
    float: left;
    padding-left: 20px;
}
.main a{
    text-decoration: none;
    color: blue;
}
.main a:hover{
    color: maroon;
}
.foter{
  text-align: center;
}
footer{
  font-size: 25px;
  background-color: #333333;
  color: bisque;
  padding-top: 10px;
  margin-top: 30px;
}